.main-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.header-sidebar {
  display: none;
  width: 100%;
  padding: 10px 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* スマホ表示切替 */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .header-sidebar {
    display: block;
  }
}

/* Sidebar内のリンクボタン装飾 */
.link-button {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  margin-right: 5px;
}
